In [3]:
MY_BUCKET = "remiguy"
CHEMIN_FICHIER = "mep/data/raw/titanic.csv"

In [4]:
import os
import duckdb

con = duckdb.connect(database=":memory:")

query_definition = f"SELECT * FROM read_csv('s3://{MY_BUCKET}/{CHEMIN_FICHIER}')"
df = con.sql(query_definition)

df

┌─────────────┬──────────┬────────┬─────────────────────────────────────────────────────┬─────────┬────────┬───────┬───────┬──────────────────┬─────────┬─────────┬──────────┐
│ PassengerId │ Survived │ Pclass │                        Name                         │   Sex   │  Age   │ SibSp │ Parch │      Ticket      │  Fare   │  Cabin  │ Embarked │
│    int64    │  int64   │ int64  │                       varchar                       │ varchar │ double │ int64 │ int64 │     varchar      │ double  │ varchar │ varchar  │
├─────────────┼──────────┼────────┼─────────────────────────────────────────────────────┼─────────┼────────┼───────┼───────┼──────────────────┼─────────┼─────────┼──────────┤
│           1 │        0 │      3 │ Braund, Mr. Owen Harris                             │ male    │   22.0 │     1 │     0 │ A/5 21171        │    7.25 │ NULL    │ S        │
│           2 │        1 │      1 │ Cumings, Mrs. John Bradley (Florence Briggs Thayer) │ female  │   38.0 │     1 │     0 │ PC 17599         │ 71.2833 │ C85     │ C        │
│           3 │        1 │      3 │ Heikkinen, Miss. Laina                              │ female  │   26.0 │     0 │     0 │ STON/O2. 3101282 │   7.925 │ NULL    │ S        │
│           4 │        1 │      1 │ Futrelle, Mrs. Jacques Heath (Lily May Peel)        │ female  │   35.0 │     1 │     0 │ 113803           │    53.1 │ C123    │ S        │
│           5 │        0 │      3 │ Allen, Mr. William Henry                            │ male    │   35.0 │     0 │     0 │ 373450           │    8.05 │ NULL    │ S        │
│           6 │        0 │      3 │ Moran, Mr. James                                    │ male    │   NULL │     0 │     0 │ 330877           │  8.4583 │ NULL    │ Q        │
│           7 │        0 │      1 │ McCarthy, Mr. Timothy J                             │ male    │   54.0 │     0 │     0 │ 17463            │ 51.8625 │ E46     │ S        │
│           8 │        0 │      3 │ Palsson, Master. Gosta Leonard                      │ male    │    2.0 │     3 │     1 │ 349909           │  21.075 │ NULL    │ S        │
│           9 │        1 │      3 │ Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   │ female  │   27.0 │     0 │     2 │ 347742           │ 11.1333 │ NULL    │ S        │
│          10 │        1 │      2 │ Nasser, Mrs. Nicholas (Adele Achem)                 │ female  │   14.0 │     1 │     0 │ 237736           │ 30.0708 │ NULL    │ C        │
│           · │        · │      · │         ·                                           │  ·      │     ·  │     · │     · │   ·              │     ·   │  ·      │ ·        │
│           · │        · │      · │         ·                                           │  ·      │     ·  │     · │     · │   ·              │     ·   │  ·      │ ·        │
│           · │        · │      · │         ·                                           │  ·      │     ·  │     · │     · │   ·              │     ·   │  ·      │ ·        │
│         882 │        0 │      3 │ Markun, Mr. Johann                                  │ male    │   33.0 │     0 │     0 │ 349257           │  7.8958 │ NULL    │ S        │
│         883 │        0 │      3 │ Dahlberg, Miss. Gerda Ulrika                        │ female  │   22.0 │     0 │     0 │ 7552             │ 10.5167 │ NULL    │ S        │
│         884 │        0 │      2 │ Banfield, Mr. Frederick James                       │ male    │   28.0 │     0 │     0 │ C.A./SOTON 34068 │    10.5 │ NULL    │ S        │
│         885 │        0 │      3 │ Sutehall, Mr. Henry Jr                              │ male    │   25.0 │     0 │     0 │ SOTON/OQ 392076  │    7.05 │ NULL    │ S        │
│         886 │        0 │      3 │ Rice, Mrs. William (Margaret Norton)                │ female  │   39.0 │     0 │     5 │ 382652           │  29.125 │ NULL    │ Q        │
│         887 │        0 │      2 │ Montvila, Rev. Juozas                               │ male    │   27.0 │     0 │     0 │ 211536           │    13.0 │ NULL    │ S        │
│         888 │        1 │      1 │ Graham, Miss. Margaret Edith                        │ female  │   19.0 │     0 │     0 │ 112053           │    30.0 │ B42     │ S        │
│         889 │        0 │      3 │ Johnston, Miss. Catherine Helen "Carrie"            │ female  │   NULL │     1 │     2 │ W./C. 6607       │   23.45 │ NULL    │ S        │
│         890 │        1 │      1 │ Behr, Mr. Karl Howell                               │ male    │   26.0 │     0 │     0 │ 111369           │    30.0 │ C148    │ C        │
│         891 │        0 │      3 │ Dooley, Mr. Patrick                                 │ male    │   32.0 │     0 │     0 │ 370376           │    7.75 │ NULL    │ Q        │
├─────────────┴──────────┴────────┴─────────────────────────────────────────────────────┴─────────┴────────┴───────┴───────┴──────────────────┴─────────┴─────────┴──────────┤
│ 891 rows (20 shown)                                                                                                                                             12 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
import os
import duckdb

con = duckdb.connect(database=":memory:")

query_definition = f"SELECT * FROM read_csv('s3://{MY_BUCKET}/{CHEMIN_FICHIER}')"
con.sql(
    f"""
        COPY (
            SELECT * 
            FROM read_csv_auto('s3://{MY_BUCKET}/{CHEMIN_FICHIER}')
        )
        TO 's3://{MY_BUCKET}/{CHEMIN_FICHIER.replace("csv", "parquet")}'
        (FORMAT PARQUET);
    """
)

In [6]:
CHEMIN_PARQUET="mep/data/raw/titanic.parquet"

In [7]:
import os
import duckdb

con = duckdb.connect(database=":memory:")

query_definition = f"SELECT * FROM read_parquet('s3://{MY_BUCKET}/{CHEMIN_PARQUET}')"
df = con.sql(query_definition)

df

┌─────────────┬──────────┬────────┬─────────────────────────────────────────────────────┬─────────┬────────┬───────┬───────┬──────────────────┬─────────┬─────────┬──────────┐
│ PassengerId │ Survived │ Pclass │                        Name                         │   Sex   │  Age   │ SibSp │ Parch │      Ticket      │  Fare   │  Cabin  │ Embarked │
│    int64    │  int64   │ int64  │                       varchar                       │ varchar │ double │ int64 │ int64 │     varchar      │ double  │ varchar │ varchar  │
├─────────────┼──────────┼────────┼─────────────────────────────────────────────────────┼─────────┼────────┼───────┼───────┼──────────────────┼─────────┼─────────┼──────────┤
│           1 │        0 │      3 │ Braund, Mr. Owen Harris                             │ male    │   22.0 │     1 │     0 │ A/5 21171        │    7.25 │ NULL    │ S        │
│           2 │        1 │      1 │ Cumings, Mrs. John Bradley (Florence Briggs Thayer) │ female  │   38.0 │     1 │     0 │ PC 17599         │ 71.2833 │ C85     │ C        │
│           3 │        1 │      3 │ Heikkinen, Miss. Laina                              │ female  │   26.0 │     0 │     0 │ STON/O2. 3101282 │   7.925 │ NULL    │ S        │
│           4 │        1 │      1 │ Futrelle, Mrs. Jacques Heath (Lily May Peel)        │ female  │   35.0 │     1 │     0 │ 113803           │    53.1 │ C123    │ S        │
│           5 │        0 │      3 │ Allen, Mr. William Henry                            │ male    │   35.0 │     0 │     0 │ 373450           │    8.05 │ NULL    │ S        │
│           6 │        0 │      3 │ Moran, Mr. James                                    │ male    │   NULL │     0 │     0 │ 330877           │  8.4583 │ NULL    │ Q        │
│           7 │        0 │      1 │ McCarthy, Mr. Timothy J                             │ male    │   54.0 │     0 │     0 │ 17463            │ 51.8625 │ E46     │ S        │
│           8 │        0 │      3 │ Palsson, Master. Gosta Leonard                      │ male    │    2.0 │     3 │     1 │ 349909           │  21.075 │ NULL    │ S        │
│           9 │        1 │      3 │ Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   │ female  │   27.0 │     0 │     2 │ 347742           │ 11.1333 │ NULL    │ S        │
│          10 │        1 │      2 │ Nasser, Mrs. Nicholas (Adele Achem)                 │ female  │   14.0 │     1 │     0 │ 237736           │ 30.0708 │ NULL    │ C        │
│           · │        · │      · │         ·                                           │  ·      │     ·  │     · │     · │   ·              │     ·   │  ·      │ ·        │
│           · │        · │      · │         ·                                           │  ·      │     ·  │     · │     · │   ·              │     ·   │  ·      │ ·        │
│           · │        · │      · │         ·                                           │  ·      │     ·  │     · │     · │   ·              │     ·   │  ·      │ ·        │
│         882 │        0 │      3 │ Markun, Mr. Johann                                  │ male    │   33.0 │     0 │     0 │ 349257           │  7.8958 │ NULL    │ S        │
│         883 │        0 │      3 │ Dahlberg, Miss. Gerda Ulrika                        │ female  │   22.0 │     0 │     0 │ 7552             │ 10.5167 │ NULL    │ S        │
│         884 │        0 │      2 │ Banfield, Mr. Frederick James                       │ male    │   28.0 │     0 │     0 │ C.A./SOTON 34068 │    10.5 │ NULL    │ S        │
│         885 │        0 │      3 │ Sutehall, Mr. Henry Jr                              │ male    │   25.0 │     0 │     0 │ SOTON/OQ 392076  │    7.05 │ NULL    │ S        │
│         886 │        0 │      3 │ Rice, Mrs. William (Margaret Norton)                │ female  │   39.0 │     0 │     5 │ 382652           │  29.125 │ NULL    │ Q        │
│         887 │        0 │      2 │ Montvila, Rev. Juozas                               │ male    │   27.0 │     0 │     0 │ 211536           │    13.0 │ NULL    │ S        │
│         888 │        1 │      1 │ Graham, Miss. Margaret Edith                        │ female  │   19.0 │     0 │     0 │ 112053           │    30.0 │ B42     │ S        │
│         889 │        0 │      3 │ Johnston, Miss. Catherine Helen "Carrie"            │ female  │   NULL │     1 │     2 │ W./C. 6607       │   23.45 │ NULL    │ S        │
│         890 │        1 │      1 │ Behr, Mr. Karl Howell                               │ male    │   26.0 │     0 │     0 │ 111369           │    30.0 │ C148    │ C        │
│         891 │        0 │      3 │ Dooley, Mr. Patrick                                 │ male    │   32.0 │     0 │     0 │ 370376           │    7.75 │ NULL    │ Q        │
├─────────────┴──────────┴────────┴─────────────────────────────────────────────────────┴─────────┴────────┴───────┴───────┴──────────────────┴─────────┴─────────┴──────────┤
│ 891 rows (20 shown)                                                                                                                                             12 columns │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [8]:
URL_RAW = "https://minio.lab.sspcloud.fr/remiguy/mep/data/raw/titanic.parquet"